<div class="col mb-5">
	<div
		class="card h-100">
		<!-- Product image-->
		<img
		src="{{ asset(article_images_path ~ (article.imgArticle ? article.imgArticle : 'default.jpg')) }}">
		<!-- Product details-->
		<div class="card-body p-4">
			<div
				class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">{{ article.title }}</h5>
				<!-- Product price-->
				<h5>{{ article.price }}
					€
					<a href="{{ path('app_article_add', {'id': article.id, 'add': 'ajouterFavoris'}) }}">
						♥ Favoris</a>
					<a href="{{ path('app_article_drop', {'id': article.id, 'drop': 'retirerFavoris'}) }}">
						♡ Retirer
					</a>
				</h5>
			</div>
		</div>
		<!-- Product actions-->
		<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center">
				<a class="btn btn-outline-dark mt-auto" href="{{ path('app_article_show', {'id': article.id}) }}">Voir l'article</a>
			</div>
		</div>
	</div>
</div>
