<div class="col mb-5">
	<div
		class="card h-100">
		<!-- Product image-->
		<img
		src="{{ asset(article_images_path ~ (article.imgArticle ? article.imgArticle : 'default.jpg')) }}">
		<!-- Product details-->
		<div class="card-body p-4">
			<div
				class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">{{ article.title }}</h5>
				<!-- Product price-->
				<h5>{{ article.price }}
					€
				</h5>
				{% if article.quantity == 0 %}
					<h5 class="text-danger">Rupture de stock</h5>
				{% else %}
					<h5>Stock : {{ article.quantity }}</h5>
				{% endif %}
				</div>
			</div>
			<!-- Product actions-->
			<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
				<div class="text-center">
					{% if app.user and is_granted('ROLE_INDIVIDUAL') and not is_granted('ROLE_ADMIN') %}
						<!-- like button -->
						{% if app.user in article.favoriteUsers %}
							<btn class="btn btn-danger btn-circle btn-circle-sm mb-3 like-btn" data-id="{{ article.id }}" data-action="drop">
								<i class="fa-solid fa-heart"></i>
							</btn>
						{% else %}
							<btn class="btn btn-outline-danger btn-circle btn-circle-sm mb-3 like-btn" data-id="{{ article.id }}" data-action="add">
								<i class="fa-regular fa-heart"></i>
							</btn>
						{% endif %}
						<br>
					{% endif %}
					<a class="btn btn-outline-dark mt-auto" href="{{ path('app_article_show', {'id': article.id}) }}">Voir l'article</a>
				</div>
			</div>
		</div>
	</div>
