{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('user_edit') }}
{% endblock %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1 class="mt-3 mx-5">Mon compte</h1>
	{{ form_start(form) }}
	<div class="container-lg px-2 mt-4">
		<btn id="btn-update-user" class="btn btn-primary btn px-4">Modifier</btn>
		<btn id="btn-back-user" class="btn btn-primary btn px-4" hidden>Retour</btn>
	</div>
	<div class="container-xl px-2 mt-4">

		<div class="row">
			<div
				class="col-xl-4">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">Photo de profil</div>
					<div
						class="card-body text-center">
						<!-- Profile picture image-->
						<img
						class="rounded-circle mb-2" src="{{ asset(avatars_path ~ (user.avatar ? user.avatar : 'default.png')) }}" alt="User avatar" width="150px" height="150px">
						<!-- Profile picture upload button-->
						<div id="input-avatar" class="form-group" hidden>
							{{ form_row(form.imageFile, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
				</div>
			</div>
			<div
				class="col-xl-8">
				<!-- Account details card-->
				<div class="card mb-4">
					<div class="card-header">Détails du compte</div>
					<div class="card-body">
						{% if 'ROLE_INDIVIDUAL' in app.user.roles %}
							<!-- Form Group (username)-->
							<div class="mb-3">
								{{ form_row(form.username, {'attr': {'class': 'form-control', 'disabled':true},'id': 'input-username'}) }}
							</div>
						{% endif %}
						<!-- Form Row        -->
						{% if 'ROLE_PRO' in app.user.roles %}
							<div
								class="row gx-3 mb-3">
								<!-- Form Group noSIRET-->
								<div class="col-md-6">
									{{ form_row(form.noSIRET, {'attr': {'class': 'form-control', 'disabled':true},'id':'input-noSIRET'}) }}

								</div>
								<!-- Form Group (organization name)-->
								<div class="col-md-6">
									{{ form_row(form.name, {'attr': {'class': 'form-control', 'disabled':true},'id':'input-name'}) }}
								</div>
							</div>
						{% endif %}

						<!-- Form Group (email address)-->
						<div class="mb-3">
							{{ form_row(form.email, {'attr': {'class': 'form-control', 'disabled':true} ,'id':'input-email'}) }}
						</div>
						<!-- Form Row-->
						<div
							class="row gx-3 mb-3">
							<!-- Form Group (phone number)-->
							<div class="col-md-6">
								{{ form_row(form.phone, {'attr': {'class': 'form-control', 'disabled':true},'id':'input-phone'}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-lg px-2 mt-4">
		<button id="btn-save-user" class="btn btn-primary px-2 mb-4" type="submit" hidden>Enregistrer</button>
	</div>
	{{ form_end(form) }}
    <div class="container-lg px-2 mb-5">
        {{ include('user/_delete_form.html.twig') }}
	</div>
</div>{% endblock %}
